body{
    font-family: Montserrat;
    /* background: radial-gradient(50% 50% at 50% 50%, #5C4941 0%, rgba(16, 12, 9, 0.90) 100%); */
    color: #ffbe3f;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(24, 11, 11);
    /* background-color: #271F1C; */
}

nav{
    background-color: rgba(0, 0, 0, 0.8);
}

.logo{
    color: #ffbe3f;
}

.logo:hover {
    color: #ffbe3f;
}

.Content_block {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (width < 800px) {
    .Content_block {
        width: 100vw;
        min-height: 90vh;
    }
}

.Call_me {
    border-radius: 3rem;
    background: linear-gradient(263deg, #FF2828 35.45%, #EE4C69 86.79%);
    border-color: #ff2929;
    box-shadow: 0px 1rem 2rem 0px #FF2929;
}

.Why_me_Box {
    width: calc(5vw + 15vh);
    height: calc(5vw + 15vh);
    border-radius: 3rem;
    background: rgba(255, 190, 63, 0.37);
}

.Why_me_Box img {
    max-width: 70%;
}

.Why_me_Box_div {
    max-width: 30%;
}

hr {
    color: #fff;
    opacity: 0.75;
    width: 86vw;
}

.Call {
    background-color: #FFF;
    max-width: 90vw;
}

.Call_img {
    width: 30vw;
    height: 100%;
}

@media (width < 1200px) {
    .Call img {
        display: none;
    }
}

.Form_input {
    background-color: inherit;
    border: 0;
    border-bottom: 0.1rem solid grey;
}

.Input_title {
    color: grey;
    transition: 0.3s;
    margin-top: -4.7rem;
}

.Form_input:focus {
    outline: none;
}

.Input_title:hover {
    margin-top: -6.5rem;
}

.Form_input:hover + .Input_title {
    margin-top: -6.5rem;
}

.Form_input:focus + .Input_title {
    margin-top: -6.5rem;
}

.Form_input:valid + .Input_title {
    margin-top: -6.5rem;
}

.Form textarea {
    width: calc(25vw + 15vh);
    height: calc(5vw + 5vh);
    resize: none;
    background-color: inherit;
}

.Form textarea:focus {
    outline: none;
}

.Form_button {
    background: linear-gradient(263deg, #FF2828 35.45%, #EE4C69 86.79%);
    border-color: #ff2929;
    box-shadow: 0px 10px 50px 0px #FF2929;
    border-radius: 1rem;
}

.Call_logo {
    top: 0;
    right: 0;
    width: calc(10vw + 5vh);
    height: calc(10vw + 5vh);
}

.photo-block img{
	filter: brightness(20%);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.slova{
    width: 60%;
}

.main-content{
    width: 40%;
}

.main-content p{
    width: 60%;
}

.card-body{
    height: 320px;
}

.card_text_block {
    width: inherit;
    height: 200px;
    padding: 0 10px;
    overflow: auto;
}


/* ---------------------------- */

.parent {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
}

.child {
    display: flex;
}

.left_part {
    width: 65%;
    flex-direction: column;
}

.height {
    height: 3000px;
}

.fixed_block {
    position: fixed;
}

a {
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #ffbe3f;
}

.content_nav {
    gap: 2rem;
}

@media (width < 768px) {
    .content_nav {
        gap: 10px;
        font-size: 12px;
    }
}

#res_gallery div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#res_address{
    width: 100%;
    height: 80vh;
}

@media (width < 768px) {
    #res_address iframe{
        height: 40vh;
    }
}

.right_part {
    width: 35%;
}

@media (width < 768px) {
    .right_part {
        display: none;
    }
}

.res_button {
    box-shadow: 0px 5px 5px 0px grey;
    border-radius: 1rem;
}

@media (width > 767.5px) {
    .booking, .res_title {
        display: none;
    }
}

.fixed_bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    margin-bottom: 40px;
}

.main_body {
    height: 800px;
}

button a {
    color: #000;
}

button a:hover {
    color: #000;
}


/* ---------slider--------- */

.slider {
    width: 100vw;
    height: auto;
    position: relative;
}

.slider_inner img {
    filter: brightness(40%);
    width: 100%;
    height: 90vh;
}

.slider_button {
    background-color: inherit;
    padding: 0;
    border: 0;
    position: absolute;
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
    z-index: 10;
}

#prevImg {
    left: 0;
    top: 0;
}

#nextImg {
    right: 0;
    top: 0;
}

.slider_button p {
    width: 100%;
}

.slider_wrapper {
    position: relative;
    color: #FFF;
}

.wrapper_inner {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper_inner div {
    width: 60%;
}

@media screen and (width < 900px) {
    .wrapper_inner {
        display: none;
    }
}



/* ------------slider2------------- */

.modal-body img{
    width: 60%;
}
 
.gallery_item{
    position: relative;
    max-width: 400px;
    background-color: #fff;
    border-radius: 15px;
}

.gallery_item img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.gallery_item .text .title{
    color: #111;
}

.gallery_item .text {
    padding: 20px 0;
    text-align: center;
}

.gallery_item .text p {
   margin: 20px 0;
   color: #000;
}

.gallery_item .text a {
    text-decoration: none;
    display: inline-block;
    color: #111;
    border: 1px solid #111;
    padding: 10px 20px;
    -webkit-transition: all .5s ease ;
    -o-transition: all .5s ease ;
    transition: all .5s ease ;
}

.gallery_item .text a:hover{
    background-color: #ffbe3f;
    border-color: #ffbe3f;
    color: #fff;
}

.gallery{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    min-height: 100vh;
}




.visible {
    display: block;
}

.hidden_block {
    display: none;
}

.backetIcon{
    width: 20px;
}
